.card {
    width: 48%;
    float: left;
    padding: 10px;
    margin: 10px;
    color: black;
    background-repeat:no-repeat;
    background-size:contain;
}

.cta {
    border-radius: 4px;
    background-color: #f4511e;
    border: none;
    color: #FFFFFF;
    text-align: center;
    padding: 10px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
  }

.cta span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.cta span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.cta:hover span {
  padding-right: 25px;
}

.cta:hover span:after {
  opacity: 1;
  right: 0;
}

.card-container {
  grid-column-start: 2;
  grid-column-end: 2;
}

@media (max-width: 900px) {
    .card-container {
        margin-top: 400px;
    }
    .card {
        width: 95%;
    }
}