body {
  font-family: 'Muli';
  padding-top: 54px;
  color: #868e96;
  background-image: url('https://images.unsplash.com/photo-1457305237443-44c3d5a30b89?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1353&q=80');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

h1,
h4,
{
  font-weight: 700;
  text-transform: uppercase;
  color: #343a40;
}

#sideNav .navbar-nav .nav-item .nav-link {
  font-weight: 800;
  letter-spacing: 0.05rem;
  text-transform: uppercase;
}

.bg-primary {
  background-color: #BD5D38 !important;
}

.row {
  margin-top: 5%;
  padding: 20px;
  color: black;
  &:after {
    content: "";
    display: table;
    clear: both;
  }
  .column {
    float: left;
    width: 50%;
  }
}

.row-exp {
  margin-top: 10%;
  padding: 20px;
  color: black;
  &:after {
    content: "";
    display: table;
    clear: both;
  }
  .column-exp {
    float: left;
    width: 20%;
    &:nth-child(2) {
      width: 80%;
    }
  }
}

.company-info {
  width: 20%;
}

//Responsive Styling

@media (max-width: 1300px) {
  .row-exp {
    margin-top: 10%;
    padding: 20px;
    color: black;
    &:after {
      content: "";
      display: table;
      clear: both;
    }
    .column-exp {
      float: left;
      width: 35%;
      &:nth-child(2) {
        width: 65%;
      }
    }
  }
}

@media (max-width: 970px) {
  .img-profile {
    width: 30%;
    height: 30%;
  }
}

@media (max-width: 1000px) {

  h1 {
    font-size: 30px;
  }

  img {
    width: 70%;
    height: 70%;
  }

  .column-exp {
    width: 100%
  }

  .row {
    font-size: 10px;
  }

  .resume-container {
    margin-top: 220px;
  }

  .row-exp {
    h4, a{
      font-size: 15px;
    }
  }
}

@media (min-width: 992px) {

  body {
    padding-top: 0;
    padding-left: 17rem;
  }

  #sideNav {
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 17rem;
    height: 100vh;
  }
  #sideNav .navbar-brand {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: auto auto 0;
    padding: 0.5rem;
  }
  #sideNav .navbar-brand .img-profile {
    max-width: 10rem;
    max-height: 10rem;
    border: 0.5rem solid rgba(255, 255, 255, 0.2);
  }
  #sideNav .navbar-collapse {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-flex: 0;
    -ms-flex-positive: 0;
    flex-grow: 0;
    width: 100%;
    margin-bottom: auto;
  }
  #sideNav .navbar-nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
  }
  #sideNav .navbar-nav .nav-item {
    display: block;
  }
  #sideNav .navbar-nav .nav-item .nav-link {
    display: block;
  }
}
