body {
  font-family: 'Muli';
  padding-top: 54px;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

h1,
h4,
{
  font-weight: 700;
  text-transform: uppercase;
}

h1 {
  color: black;
  font-family: 'Trocchi', serif;
  font-size: 45px;
  font-weight: normal;
  line-height: 48px;
  margin: 0;
}

p {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 18px; line-height: 32px;
  margin: 0 0 24px;
}

#sideNav .navbar-nav .nav-item .nav-link {
  font-weight: 800;
  letter-spacing: 0.05rem;
  text-transform: uppercase;
}

.bg-primary {
  background-color: #BD5D38 !important;
}

.jobs {
  grid-column-start: 2;
  grid-column-end: 2;
  margin-top: 10%;
  h1 {
    margin-bottom: 10%;
  }
}

.educations {
  grid-column-start: 3;
  grid-column-end: 3;
  margin-top: 10%;
  margin-bottom: 10%;
  h1 {
    margin-bottom: 10%;
  }
}

.resume-container {
  display: grid;
  grid-column-gap: 10px;
  columns: 2;
  grid-template-columns: 210px 45% auto;
}

.project-container {
  display: grid;
  grid-template-columns: 210px auto;
}

.project-sidenav {
  grid-column-start: 1;
  grid-column-end: 1;
}

.job {
  display: grid;
  grid-template-columns: 100px auto auto auto;
  grid-column-gap: 20px;
  color: black;
  margin-bottom: 10%;
  grid-row-gap: 5%;
}

.job-image {
  grid-column-start: 1;
  grid-column-end: 1;
  padding: 0px 10px 0px 40px;
}

.job-info {
  grid-column-start: 2;
  grid-column-end: 4;
  margin-left: 30px;
}

.job-desc {
  grid-column-start: 1;
  grid-column-end: 4;
}

.education {
  display: grid;
  grid-template-columns: 100px auto auto auto;
  grid-column-gap: 20px;
  color: black;
  margin-bottom: 10%;
}

.education-image {
  grid-column-start: 1;
  grid-column-end: 1;
  padding: 0px 10px 0px 40px;
}

.education-info {
  grid-column-start: 2;
  grid-column-end: 4;
  margin-left: 30px;
}

.education-desc {
  grid-column-start: 1;
  grid-column-end: 4;
}

.sidenav {
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #BD5D38;
  overflow-x: hidden;
  padding-top: 20px;
  grid-column-start: 1;
  grid-column-end: 1;
  text-align: center;
  a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: black;
    display: block;
  }
  p {
    font-size: 15px;
  }
  img {
    width: 80%;
    &:hover {
      transform: scale(1.1);
    }
  }
}

.vertical-center {
  top: 50%;
  transform: translateY(-50%);
  margin: 0;
  position: absolute;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.main {
  margin-left: 160px;
  padding: 0px 10px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
